.y{
    color:red;
}
.r{
    color: red;
}

.m{
    color: green;
    background-color: yellow
    ;
}

.t{
    background-color: red;
}

.q{
    background-color: red;
}

.u{
    background-color: red;
}